APP_NAME=US Equity Valuation Analyzer
APP_ENV=local
HOST=127.0.0.1
PORT=8000
FMP_API_KEY=your_fmp_api_key
FMP_BASE_URL=https://financialmodelingprep.com/stable
CACHE_DIR=.cache
FMP_CACHE_ENABLED=false
FMP_CACHE_TTL_SECONDS=43200
FMP_PEERS_CACHE_TTL_SECONDS=86400
APP_ACCESS_TOKEN=
